* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #F2F2F2;
  padding: 5%;
}

@import "components/basics";
@import "components/responsive";
@import "components/nav-bar";
@import "components/body";